header img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 50px;
}

body {
    font-family: sans-serif;
}

footer {
    text-align: center;
}

.activity-row {
    display: flex;
    text-align: center;
}

main {
    color:black;
 }

 .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

nav img {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
 }

 #sign_up_today {
    border: 1px solid red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

 #sign_up_today form {
    flex: 1;
    max-width: 400px;
 }

 .heart-container {
    font-size: 150px;
    color:red;
    opacity: 0.75;
 }
